body{
}
nav{
    background-color: rgb(161, 180, 189);
}

#home, #contato{
    padding: 6em;
    padding-top: 6em;
}
#home img{
    
    max-height: 300px;

}
#footer{
    background-color: rgb(178, 188, 207);
    margin-bottom: 2em;
}

.card{
    margin-bottom: 2em;
}